{# page:贷款管理页面 #}
{# author:syn #}

{% extends "admin/sidebar.html" %}
{% load static %}
<!--预先加载基本模板-->

{% block title %}【高庄银行】贷款管理{% endblock %}
{% block BasicTable %}贷款管理{% endblock %}
<!--填充title模块-->

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'loanManage/loanManage.css' %}" />
<style>
    #loanManage{
        color:rgb(33, 86, 233);
    }
  .table th {
    padding: 10px;
  }

  .table td {
    padding: 10px;
  }

  .search_bar input {
    font-size: 14px;
  }
  #add_btn{
    background-color: rgb(97, 150, 248);
    color:white;
    float: right;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
  }
</style>
{% endblock %}

{% block content %}

<div class="mainbar">
  <!-- 搜索框 -->
  <form action="/loanManage/" method="post">
    {% csrf_token %}
  <div class="search_bar">
    <input type="text" class="form-control" placeholder='贷款产品' id="search_name" name="search_name">
    <button type="submit" class="btn btn-info" id="search_btn">搜索</button>
  </div>
</form>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>贷款编号</th>
        <!-- 详情页 -->
        <th>贷款产品</th>
        <th>贷款额度/万</th>
        <th>贷款利率</th>
        <th>贷款期限</th>
        <th>还款付息方式</th>
      </tr>
    </thead>
    <div id="loanManage_tbody">
      <tbody>
        {% for x in credit %}
        <tr>
          <td id="loan_num">a001</td>
          <td id="loan_name"><a href="/loanDetails/?id={{ x.name }}">{{ x.name }}</a></td>
          <td id="loan_quota">{{ x.amountmin }}-{{ x.amountmax }}</td>
          <td id="loan_interest_rate">{{ x.monthirmin }}-{{ x.monthirmax }}</td>
          <td id="loan_month">{{ x.monthmin }}-{{ x.monthmax }}</td>
          <td id="loan_way">{{ x.way }}</td>
        </tr>
        {% endfor%}
      </tbody>
    </div>
  </table>
<a href="/loanDetails2/">  <button type="button" class="btn"id="add_btn">新增</button></a>
</div>
<!-- <img src="{% static 'image/lb1.jpg' %}" > -->
<script type="text/javascript" src="{% static 'loanManage/loanManage.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'afterBase/afterBase.js' %}"></script> -->
{% endblock %}