{% load static %}
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'afterBase.css' %}" />
    <link rel="icon" href="../static/image/piggy_bank.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block header %}
    {% endblock %}
</head>

<body>
    <div class="topnav">
        <a class="logo" href="index.html">
            <img src="{% static 'image/logo.png' %}" alt="高庄效贷" class="logo">
        </a>
        <span class="title"> | 让信用贷款更简单</span>
        <div class="rightlink">
            <a class="nav-link link" id="index" href="/home/">首页</a>
            <a class="nav-link link" id="loan" href="/loans/">高庄效贷</a>
            <a class="nav-link link" id="myloan" href="/myloan/">我的贷款</a>
            <a class="nav-link link" id="aboutus" href="/aboutus/">关于我们</a>
            <div class="dropdown" style="text-align:center">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    个人中心
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"
                    style="text-align:center;line-height:40px">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                            style=" cursor:pointer;text-decoration: none;color: rgb(70, 70, 70);">我的贷款</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                            style=" cursor:pointer;text-decoration: none;color: rgb(70, 70, 70);">企业认证</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                            style=" cursor:pointer;text-decoration: none;color: rgb(70, 70, 70);">设置</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                            style=" cursor:pointer;text-decoration: none;color: rgb(70, 70, 70);">退出登录</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="btn" id="login"><a href="/login/">登录</a> | <a href="/register/">注册</a></div> -->
        </div>
    </div>
    <!-- 侧边栏 -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header" style="font-size:13px">我的金融助手</li>
                <li><a href="#"><i class="fa fa-usd fa-lg"></i> <span>我的贷款</span></a></li>
                <li class="header" style="font-size:13px">公司资料管理</li>
                <li><a href="#"><i class="fa fa-address-card"></i> <span>企业认证</span></a></li>
                <li class="header" style="font-size:13px">基本设置</li>
                <li><a href="#"><i class="fa fa-phone-square"></i> <span>绑定/修改手机</span></a></li>
                <li><a href="#"><i class="fa fa-user-circle-o"></i> <span>成为金蝶用户</span></a></li>
            </ul>
        </section>
    </aside>

    {% block content %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'afterBase.js' %}"></script>
    <script>
        $.sidebarMenu($('.sidebar-menu'))
    </script>
</body>

<footer>
    <span class="footer1">高庄效贷 | 联系我们 | 服务条款 | 论坛 | 帮助</span>
    <br>
    <span>copyright @ 2019 高庄银行</span>
</footer>


</html>