{# page:联系我们 #}
{# author:chencc #}

{% extends "user/aboutus/aboutBase.html" %}
{% load static %}
{% load staticfiles %}
<!--预先加载基本模板-->

{% block intro %}
<div class="leftbar">
    <p class="contentTitle">联系我们</p>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link leftlink" href="/aboutus/">关于我们</a>
        </li>
        <li class="nav-item">
            <a class="nav-link leftlink" href="/connect/" style="color: #4fa7f5;
                    text-underline: #4fa7f5; font-weight: bolder">联系我们</a>
        </li>
        <li class="nav-item">
            <a class="nav-link leftlink" href="/company/">商务合作</a>
        </li>
        <li class="nav-item">
            <a class="nav-link leftlink" href="/service/">客户服务</a>
        </li>
    </ul>
</div>

<div class="rightbar">
    <img src="{% static 'image/head.jpg' %}" alt="高庄效贷" class="head">
    <ul style="list-style: none;margin-top: 30px">
        <li><h4 style="font-weight: bolder;padding-bottom: 10px">高庄银行</h4></li>
        <li>客户服务电话： 123-123-123</li>
        <li>地址：猪哥老家高老庄</li>
        <li>邮箱：glz@glz.com</li>
    </ul>

</div>

{% endblock %}