{# page:申请贷款详情页面 #}
{# author:chencc #}

{% extends "base.html" %}
{% load static %}

<!--预先加载基本模板-->

{% block title %}【高庄银行】信贷申请{% endblock %}
<!--填充title模块-->

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'apply/apply.css' %}" />
{% endblock %}

{% block content %}
    <div class="breadnav">
        <a href="/home/" style="color:#000"><i class="fa fa-home"></i> 首页 </a>
        > <a href="/loans/"  style="color:#000"> 高庄效贷</a>
        > <a href="/loans/"> 信贷详情</a>
    </div>
    <hr>

{#    {% for x in credit %}#}
    <div class="apply-info">
        <div class="info">
            <div class="applyInfo">
                <div class="applytitle">
                    <label><i class="fa fa-edit" style="color: #2192f5"></i>
                        贷款申请信息</label>
                </div>
                <div class="applyInput" style="margin-left: 13%">
                        <div class="value">
                            <span style="color: red">*</span><label>申请金额：</label>
                            <input type="text"
                                   name="money"
                                   class="formstyle"
                                   id="money"
                                   placeholder="申请额度为{{ credit.amountmin }}-{{ credit.amountmax }}万元">
                            <span> 万元</span>
                            <p class="moneyhint"></p>
                        </div>

                        <div class="time">
                            <span style="color: red">*</span><label>申请期限：</label>
                            <input type="text"
                                   name="month"
                                   id="month"
                                   class="formstyle"
                                   placeholder="贷款期限为{{ credit.monthmin }}-{{ credit.monthmax }}个月">
                            <span> 个月</span>
                            <p class="monthhint"></p>
                        </div>

                        <div class="agree">

                            <input type="checkbox" id="agree" name="check" value="1">我已阅读并同意以下协议：
                            <br>
                            <span>《互联网金融协议》</span>
                            <br>
                            <span>《信息查询申请表》</span>
                            <br>
                            <p class="accepthint"></p>

                            <button type="button" id="predictPay" class="btn"
                                    style="background-color: #ced4da;margin-top: 10px">查看预计费用</button>

                        </div>

                </div>
            </div>

            <div class="cost">
                <div class="applytitle">
                    <label><i class="fa fa-money" style="color: #2192f5">
                    </i> 预计费用</label>
                </div>
                <div class="calInfo" style="margin-left:15%">
                    <div class="calcu">
                        <label class="waysLabel">还款付息方式</label>
                        <select id="ways" class="formstyle">
                            <option selected="selected">等本等息</option>
                        </select>
                    </div>
                    <div class="intesInfo" style="margin-bottom: 10px">
                        <label class="waysLabel">利息合计(元)</label>
                        <input type="text"
                               name="interest"
                               class="formstyle"
                               id="interest"
                               disabled="disabled"
                            >
                    </div>
                    <div class="intesInfo">
                        <label class="waysLabel">月供(元)</label>
                        <input type="text"
                               name="monthPay"
                               class="formstyle"
                               id="monthPay"
                               disabled="disabled"
                            >
                    </div>
                    <span style="color: red">*以上结果仅供参考，以金融机构实际审批结果为准</span>
                    <br/>
                    <button type="button" id="applySubmit" class="submit btn btn-success">提交申请</button>
                </div>
            </div>
            <hr>
        </div>

        <div>
            <table class="table">
                <thead style="background-color: #eeeeee">
                <tr>
                    <th>还款付息方式</th>
                    <th>贷款期限(月)</th>
                    <th>贷款月利率(%)</th>
                    <th>其他费用说明</th>
                    <th>提前还款说明</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ credit.way }}</td>
                    <td>{{ credit.monthmin }}-{{ credit.monthmax }}</td>
                    <td>{{ credit.monthirmin }}-{{ credit.monthirmax }}</td>
                    <td>{{ credit.else_field }}</td>
                    <td>{{ credit.advance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="intro">
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#intro">产品说明</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#query">产品问答</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="intro" class="tab-pane active"><br>
                    <h5 style="color: #000;font-weight: bolder">详细描述</h5>
                    {{credit.detail | safe}}


                    <h5 style="color: #000;font-weight: bolder">申请条件</h5>
                    {{credit.condition | safe}}

                    <h5 style="color: #000;font-weight: bolder">所需材料</h5>
                    {{credit.material | safe}}
                </div>

                <div id="query" class="tab-pane fade"><br>
                    <p>暂时还没有人提问</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        我要提问</button>

                    <!-- 模态框 -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <p class="modal-title">提问</p>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- 模态框主体 -->
                                <div class="modal-body">

                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">请输入您的问题</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control"
                                                          rows=""
                                                          name="question"
                                                          id="question"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">称呼</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"
                                                       name="username"
                                                       id="username"
                                                       type="text"
                                                       placeholder="用于接收问题答复" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">手机号码</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"
                                                       name="phone"
                                                       id="phone"
                                                       type="text"
                                                       placeholder="必要时给您电话答疑" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-light" type="button" data-dismiss="modal">取消</button>
                                            <button class="btn btn-success" type="submit">提交</button>
                                        </div>


                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>

    <script>
        let moneyInput = $("#money");
        let monthInput = $("#month");
        let predictBtn = $("#predictPay");
        let submitBtn = $("#applySubmit");

        {#申请额度的校验#}
        moneyInput.blur(function () {
            if(moneyInput.val() >= {{ credit.amountmin }}
                && moneyInput.val() <= {{ credit.amountmax }}){
                //申请额度在范围内
                moneyInput.css("border","1px #0f0 solid");
                $(".moneyhint").html("")
                
            }
            else{
                moneyInput.css("border","1px #f00 solid");
                $(".moneyhint").html("申请额度有误").css("color","red");
            }
        });

        {#申请月份的校验#}
        monthInput.blur(function () {
            if(monthInput.val() >= {{ credit.monthmin }}
                && monthInput.val() <= {{ credit.monthmax }}){
                monthInput.css("border","1px #0f0 solid");
                $(".monthhint").html("");
            }
            else{
                monthInput.css("border","1px #f00 solid");
                $(".monthhint").html("贷款期限有误").css("color","red");

            }
        });

        {#预计金额事件#}
        predictBtn.click(function () {
            if(moneyInput.val() >= {{ credit.amountmin }}
                && moneyInput.val() <= {{ credit.amountmax }}
                && monthInput.val() >= {{ credit.monthmin }}
                && monthInput.val() <= {{ credit.monthmax }}){
                console.log(111111);
                    let ir = '{{ credit.monthirmin }}'.replace("%","");
                    let interst = monthInput.val()*moneyInput.val()*parseFloat(ir);
                    $("#interest").val("最低"+parseFloat(interst*100).toFixed(2));
                    $("#interest").css("color","#ff8a00");
                    $("#monthPay").val("最低"+parseFloat(interst/monthInput.val()*100).toFixed(2));
                    $("#monthPay").css("color","#ff8a00");
                    $("#ways").css("color","#ff8a00");
            }
            else{
                let txt = "信息有误";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                $('.ok').click(function(){
                    window.location.reload();
                });
            }
        });

        {#提交申请金额和月份的校验#}
        submitBtn.click(function () {
            if(moneyInput.val() >= {{ credit.amountmin }}
                && moneyInput.val() <= {{ credit.amountmax }}
                && monthInput.val() >= {{ credit.monthmin }}
                && monthInput.val() <= {{ credit.monthmax }}
                && $("input[type='checkbox']").attr('value') == 1) {

                let data = {
                    'applyAmount':moneyInput.val(),
                    'applyMonth':monthInput.val()
                };
                {# 前端校验通过 发送请求#}
                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                });

                $.post('/applyFirst/', data, function (res) {
                    console.log(1121212);
                    if(res == '1'){
                        window.location.href = '/applyForm/';
                    }
                    else{
                        let txt = res.message;
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                        $('.ok').click(function(){
                            window.location.reload();
                        });
                    }
                })
            }

            {#信息错误(前端校验)#}
            else{
                var txt = "信息有误";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                $('.ok').click(function(){
                    window.location.reload();
                });
            }

        })
    </script>
    <script type="text/javascript" src="{% static 'apply/apply.js' %}"></script>
{% endblock %}

